*{box-sizing: border-box;}

header,footer{
    height: 100px;
    border: 3px solid black;
    clear: both; /* Prevents floating elements from overlapping */
}
sub{
    height: 100px;
    width: 100%;
    border: 3px solid black;
    display: block;
}
section{
    height: 200px;
    border: 3px solid black;
}
.left-section{
    width: 40%;
    float: left;
} 
.right-section{ 
    width: 100%;
}